.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1rem;
    padding: 1rem;
    background-color:rgb(249, 249, 249);
    border-radius: 12px;
    box-shadow: inset 0 0 0 0 #5468d6;
    color: #32829c;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
  }

  .listItem:hover {
    color: white;
    box-shadow: inset 700px 0 0 0 #54b3d6;
  }

  .listHeader {
    font-weight: bold;
  }
  
  .lightText {
    color: #666;
  }

  .contacts {
      margin: 10px auto 80px;
      padding: 10px 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }

  .contacts a {
    margin-right: 40px;
    color: rgb(145, 145, 145);
    font-weight: bold;
  }

  .contacts a:hover {
    color: #54b3d6;
  }